<%- include('partials/_header') -%> 
<body>

  <%- include('partials/_navigation') -%> 

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Hakkında</h1>
            <span class="subheading">Benim yaptığım budur.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Node.js, en kompleks fonksiyonları bile birkaç kod satırı içinde çözebilmeye yardımcı olan bir açık kaynak projesidir. Bu proje Node.js öğrenmek için yapılmış bir projedir.</p>
      </div>
    </div>
  </div>

  <hr>

  <%- include('partials/_footer') -%> 

</body>

</html>
